body {
    background-color: rgb(105, 79, 223);
}
.filter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
}
.filter-box div {
    width: 600px;
    padding: 0 1rem;
}
.filter-box input {
    padding: 10px 12px;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    border: 1px solid rgb(202, 200, 200);
    outline: none;
    box-sizing: border-box;
    word-wrap: break-word;
}
.container {
    display: flex;
}
.sub-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 25px 0 50px 0;
    overflow: hidden;
}
.sub-container .note {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 20px;
    row-gap:20px;
    width: 1300px;   
    padding: 0 2rem;
    box-sizing: border-box;
    overflow-x: auto;
    height: 462px;
}
.sub-container .note::-webkit-scrollbar {
    width: 8px;
}
.sub-container .note::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px darkgray;
    border-radius: 10px;
}
.sub-container .note::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 10px;
  }
.note .new-note-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 31.8% 0 0 !important;
    height: 380px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 6px;
}
.note .new-note-add button.plus-icon {
    padding: 1.6rem 2rem;
    color: rgb(105, 79, 223);
    background: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 300;
    border-radius: 50%;
    border: 5px dotted rgb(105, 79, 223);
    cursor: pointer;
}
.note .new-note-add .text {
    color: rgb(105, 79, 223);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.note .new-note-add-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(29, 27, 27, 0.521);
    z-index: 1;
}
.note .new-note-add-box .form-box {
    display: flex;
    flex-direction: column;
    flex: 40% 0 0 !important;
    height: auto;
    /*height: 426px;*/
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 6px;
    z-index: 1;
}
.note .new-note-add-box .form-box .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}
.note .new-note-add-box .form-box .title-box h5 {
    margin: 0;
    font-size: 1.2rem;
}
.note .new-note-add-box .form-box .header .close-icon {
    margin-bottom: -5px;
}
.note .new-note-add-box .form-box .header .close-icon i {
    font-size: 1.3rem;
    cursor: pointer;
}
.note .new-note-add-box .form-box .form-area {
    padding: 1rem;
}
.note .new-note-add-box .form-box .form-area .input-group:not(:first-child) {
    margin-top: 1rem;
}
.note .new-note-add-box .form-box .form-area .input-group h5 {
    margin: 0 0 0.5rem 0;
    font-size: 1.1rem;
    letter-spacing: 0.4px;
}
.note .new-note-add-box .form-box .form-area .input-group input, textarea {
    padding: 10px 12px;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    border: 1px solid rgb(202, 200, 200);
    outline: none;
    box-sizing: border-box;
    word-wrap: break-word;
}
.note .new-note-add-box .form-box .form-area .add-note-btn {
    margin-top: 1rem;
}
.note .new-note-add-box .form-box .form-area .add-note-btn button {
    display: block;
    color: #fff;
    width: 100%;
    padding: 10px 12px;
    background: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    background-color: rgb(105, 79, 223);
    cursor: pointer;
}
.note .note-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 31.8% 0 0 !important;
    padding: 2rem 2rem;
    height:auto;
    /*height: 382px;*/
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}
.note .note-box h1.note-title {
    color: rgba(24, 23, 23);
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    word-break: break-all;
}
.note .note-box p.note-self {
    height: 210px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1.2rem;
    word-break: break-all;
    overflow-y: auto;
}
.note .note-box p.note-self::first-letter{
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
}
.note .note-box hr {
    width: 100%;
    margin: 0;
    border: 1px solid #ddd;
}
.note .time-note-edit-del {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.note .time-note-edit-del .time-box {
    margin: 1.4rem 0 0 0;
    padding-right: 0.5rem;
    box-sizing: border-box;
}
.note .time-note-edit-del .time-box .time-text {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    font-weight: 600;
}
.note .time-note-edit-del .three-dot {
    margin: -5px 0 0 0;
    font-size: 35px;
    cursor: pointer;
}
.note .time-note-edit-del .actions {
    position: absolute;
    right: 8%;
    top: 56%;
    background-color: #fff;
    box-shadow: 1px 2px 9px 2px rgba(219, 215, 215, 0.7);
    border-radius: 4px;
}
.note .time-note-edit-del .actions button i.fa {
    margin-right: 0.5rem;
}
.note .time-note-edit-del .actions button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.note .time-note-edit-del .actions button:hover {
    background-color: rgb(248, 246, 246);
}
@media only screen and (max-width:1077px) {
    .note .new-note-add {
        flex: 48% 0 !important;
    }
    .note .note-box  {
        flex: 48% 0 !important;
    }
}
@media only screen and (max-width:976px) {
    .note .new-note-add {
        flex: 48% 0 !important;
    }
    .note .note-box  {
        flex: 48% 0 !important;
    }
}
@media only screen and (max-width:775px) {
    .note .new-note-add {
        flex: 100% 0 !important;
    }
    .note .note-box  {
        flex: 100% 0 !important;
    }
    .note .new-note-add-box .form-box {
        flex: 92% 0 !important;
    }
    .note .note-box p.note-self {
        height: auto;
        margin-bottom: 1rem;
    }
    .note .time-note-edit-del .actions {
        top: 28%;
        right: 1%;
    }
}
/*
@media only screen and (min-width:820px) {
    .note .new-note-add-box .form-box {
        flex: 95% 0 !important;
    }
}
*/
@media only screen and (max-width:680px) {
    .sub-container .note {
        flex-wrap: wrap;
    }
    .note .new-note-add {
        width: 100% !important;
    }    
}
@media only screen and (max-width:411px) {
    .note .time-note-edit-del .actions {
        top: 82%;
        right: 4%;
    }
    .note .time-note-edit-del .actions button {
        display: inline-block;
        padding: 5px 8px;
        width: auto;
    }
    .note .time-note-edit-del .time-box {
        margin: 1rem 0 1rem 0;
        width: 100%;
    }
}
@media only screen and (max-width:300px) {
    .note .note-box h1.note-title {
        font-size: 11vw;
    }
    .sub-container .note {
        padding:0 0.8rem;
        box-sizing: border-box;
    }
    .note .note-box {
        padding: 2rem 0.5rem;
    }
    .note .note-box p.note-self {
        font-size: 8vw;
    }
}
@media only screen and (max-width:288px) {
    .note .time-note-edit-del {
        flex-wrap: wrap;
    }
    .note .time-note-edit-del .actions {
        top: 80%;
        right: 4%;
    }
    .note .new-note-add button.plus-icon {
        font-size: 15px;
        padding: 0.5rem 0.7rem;
    }
    .note .new-note-add .text {
        text-align: center;
    }
    .note .new-note-add-box .form-box .title-box h5 {
        font-size: 6vw;
    }
    .note .new-note-add-box .form-box .form-area .input-group h5 {
        font-size: 6vw;
    }
    .note .time-note-edit-del .three-dot {
        width: 100%;
    }
}
@media screen and (max-width:234px) {
    .note .time-note-edit-del .actions {
        top: 76%;
    }
    .note .time-note-edit-del .actions button{
        display: block !important;
        padding: 5px 8px !important;
    }
}
@media only screen and (max-width:165px) {
    .note .new-note-add button.plus-icon {
        font-size: 10px;
        padding: 0.3rem 0.5rem;
    }
    .note .new-note-add-box .form-box {
        width: 92%;
    }
    .note .new-note-add-box .form-box .title-box h5,
    .note .new-note-add-box .form-box .form-area .input-group h5,
    .note .new-note-add-box .form-box .form-area .add-note-btn button,
    .note .time-note-edit-del .time-box .time-text,
    .note .time-note-edit-del .actions button{
        font-size: 8vw;
    }
}